* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1000px;
    min-height: 700px;
    margin: 0 auto;
}

header {
    background-color: lightblue;
    width: 1000px;
    height: 60px;
}

header h1 {
    text-align: center;
    line-height: 60px;
}

#slider {
    width: 1000px;
    height: 300px;
    overflow: hidden;
}

#holder {
    width: 10000px;
    height: 300px;
}

#holder img {
    width: 1000px;
    height: 300px;
    float: left;
}